DATABASE_URL="postgresql://postgres:postgres@localhost:5432/traveldesk?schema=public"
PORT=4000
WEB_ORIGIN="http://localhost:3000"
NEXT_PUBLIC_API_URL="http://localhost:4000/api"
NEXT_PUBLIC_ROOT_DOMAIN="localhost:3000"
FLIGHT_PROVIDER="mock"
FLIGHT_PROVIDER_API_KEY=""
JWT_ACCESS_SECRET="replace-with-at-least-32-random-characters"
COOKIE_DOMAIN=""
FIREBASE_WEB_API_KEY=""
NEXT_PUBLIC_FIREBASE_API_KEY=""
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=""
NEXT_PUBLIC_FIREBASE_PROJECT_ID=""
NEXT_PUBLIC_FIREBASE_APP_ID=""
