DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public"
PORT=4000
WEB_ORIGIN="https://your-web-domain.com"
NEXT_PUBLIC_API_URL="https://your-api-domain.com/api"
NEXT_PUBLIC_ROOT_DOMAIN="your-web-domain.com"
FLIGHT_PROVIDER="mock"
FLIGHT_PROVIDER_API_KEY=""
JWT_ACCESS_SECRET="replace-with-at-least-32-random-characters"
COOKIE_DOMAIN=""
FIREBASE_WEB_API_KEY=""
NEXT_PUBLIC_FIREBASE_API_KEY=""
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=""
NEXT_PUBLIC_FIREBASE_PROJECT_ID=""
NEXT_PUBLIC_FIREBASE_APP_ID=""
